*{
    padding: 0;
    margin: 0;
}
.desktop{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    }
.desktop img{
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden;
       }
 .taskbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 6.5vh;
    position: absolute;
    bottom: 0px;
    width: 100vw;
    overflow: hidden;
}
.start{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        height: 6.5vh;
        position: absolute;
        bottom: 0px;
        width: 2vw;
        left:36vw;
        overflow: hidden;
}
 .search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 6.5vh;
    position: absolute;
    bottom: 0px;
    width: 2vw;
    left:40vw;
    overflow: hidden;  
 }
 .recent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 6.5vh;
    position: absolute;
    bottom: 0px;
    width: 2vw;
    left: 44vw;
    overflow: hidden;  
 }
 .explorer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 6.5vh;
    position: absolute;
    bottom: 0px;
    width: 2vw;
    left: 49vw;
    overflow: hidden;  
 }
 .chromes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 6.5vh;
    position: absolute;
    bottom: 0px;
    width: 2vw;
    left: 54vw;
    overflow: hidden;  
 }
  .start img, .search img, .recent img,.explorer img,.chromes img{ 
    width: 25px;
    margin: 1px;
    height: 23px;
    overflow: hidden;
  }
  .startpg{
      position: absolute;
      bottom: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
  }
.startpg img{
    position: relative;
    height: 86vh;
    width: auto;
    border-radius: 2vh;
}
.searchpg{
    position: absolute;
    bottom: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.searchpg img{
  position: relative;
  height: 86vh;
  width: auto;
  border-radius: 2vh;
}
.recentpg{
    position: absolute;
    bottom: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.recentpg img{
  position: relative;
  height: 90vh;
  width: auto;
  border-radius: 2vh;
}
.explorerpg{
    position: absolute;
    bottom: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.explorerpg img{
  position: relative;
  height: 90vh;
  width: auto;
  border-radius: 2vh;
}
.chromepg{
    position: absolute;
    bottom: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.chromepg img{
  position: relative;
  height: 90vh;
  width: auto;
  border-radius: 2vh;
}